.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Pods/
vendor/
.vscode/
/build
/Package.resolved
/GoogleMLKit
/Example/Package/Package.resolved
